@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
header{
    height: 10vh;
    width:100%;
    display: flex;
    position: relative;
    flex-direction: column;
  
    

}

nav{
    height: 10vh;
    width: 100%;
    border: 1px solid rgb(211, 206, 206);
    display: flex;
    position: relative;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
  
    /* position: fixed; */
    z-index: 12;
    background-color:#ffffff;
    transition: .2s;
   
}
#logo{
    display:flex;
   margin-left:75vh;
   align-items: center;
   
}
#logo a{
    text-decoration: none;;
}

#logo-image > img{
 height: 9vh;
 transition: .2s;
 
}
#logo-image{
    position: relative;
    /* display: flex; */
}
#logo-image > #tsf{
    position: absolute;
    font-size: .63vh; 
    top: 8.3vh;
    left: -.2vw;
    width: 7vw;
    font-family: Lato,sans-serif;
    color:rgb(245, 177, 32);
    text-transform: uppercase;
    transition: .2s;
}

#logo-text{
  font-family: "Lato",sans-serif;
  font-size: 3vh;
  color: #5c98c8;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  font-weight: 600;
  transition: .2s;
  margin-left: 1vh;
}

section{
    font-family: 'lato', sans-serif;
    height:  700vh;
    position: ralative;   
    width: 100%;
    /* background-color: #E5E5F7; */
}
section > #heading{
    position: absolute;
top:20vh;
left: 50%;
transform: translate(-50%);
z-index: -2;
}

section > hr{
    position: absolute;
    top: 27vh;
    left: 50%;
    transform: translate(-50%);
    width: 11vw;
    border: .5vh solid #5c98c8;
    border-radius : 5px;
}
section > #desc{
    position: absolute;
position: absolute;
top:35vh;
left: 50%;
transform: translate(-50%);
font-size: 3vh;
border: 2px solid #5c98c8;
text-align: center;
padding: 7vh;
width: 70vw;
border-radius: 2vh;
}
form{
    position: absolute;
    top: 70vh;
    width: 80vw;
    /* height: 300vh; */
    /* border: 2px solid black; */
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-radius: 15px;
     z-index: 100;
     /* opacity: 1; */
     box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.32);

}
form > fieldset{
    padding: 7vh;
    margin: 5vh;
    font-weight: 600 ;
    border-radius: 10px;
    /* box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.32); */
      /* border: none; */

}

form > fieldset > legend{
    font-size: 4vh;
}

input{
    padding: 10px 0px 10px 5px;
    width: 20vw; 
    margin: 2vh 2vh 2vh 0vh;
    border:none;
  
    border-bottom: 2px solid grey;
    outline: none;
    transition-property:  border;
    transition: .2s;
    
}
    /* background-color: rgb(231, 229, 224); */


input:focus, input:hover {
    border-bottom: 2px dashed grey;
   
}
select{
    padding: 10px 0px 10px 5px;
    width: 20vw; 
    margin: 2vh 2vh 2vh 0vh;
    border: none;
    outline: none;
    background-color: rgb(231, 229, 224);
}

select > option{
    outline: none;
}
 #submit{
     border: 2px solid rgb(158, 156, 156);
     margin-left: 6vh;
     border-radius: 10px;
     font-weight: 600;
     font-family: 'lato';
 }
 #submit:hover{
    background-color: black;
    color: white;
 }

 .site-footer
{
  background-color:#26272b;
  /* padding:15px 0 20px; */
  font-size:15px;
height: 16vh;
  color:#737373;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: 'lato';
  font-weight: 600;
}
.social-icons{
position: absolute;
right: .5vh;
top:2.5vh;
width: 30vw;
padding-left:0;
margin-bottom:0;
list-style:none;
/* border:  2px solid black; */
width: 16%;
}

.text-justify{
    position: absolute;
    top: 2.5vh;
    font-size: 2.5vh;
    width: 90vh;
    text-align: left;
    left: 1vh;
}
.copyright-text
{
    position: absolute;
    Width: 80vh;
    /* border: 2px solid white;   */
    bottom: 1vh;
    left: 50%;
    transform: translate(-50%);
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  position: absolute;
  top: 11vh;
  width: 100%;
}
.site-footer hr.small
{
  margin:20px 0
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  /* line-height:40px; */
  /* margin-left:6px; */
  /* margin-right:0; */
  border-radius:100%;
  background-color:#33353d;
}
    

.social-icons li
{
  display:inline-block;
  /* margin-bottom:4px */
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.text-justify > span{
    /* position: absolute; */
    right: 1vw;
    bottom: -4.5vh;
    color:rgb(245, 177, 32);
    font-family: Lato,sans-serif;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.37);
    font-weight: 600;
}
.copyright-text >a{
    text-decoration: none;
}